* {
    margin: 0;
    padding: 0;
}    

body {
    background: #dddddd;
}

.container {
    background: #fff;
    width: 600px;
    height: 450px;
    margin: 33px auto;
    border: 1px solid #000;
    border-bottom: none;
}

.container h3 {
    margin-top: 20px;
    text-align: center;
}

.boxList {
    margin: 33px 75px;
}