/*********************************
            FONTS
*********************************/

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/OpenSansLight/opensans-light-webfont.eot');
    src: url('../fonts/OpenSansLight/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansLight/opensans-light-webfont.woff') format('woff'),
         url('../fonts/OpenSansLight/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Extrabold';
    src: url('../fonts/OpenSansExtrabold/opensans-extrabold-webfont.eot');
    src: url('../fonts/OpenSansExtrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansExtrabold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansExtrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/OpenSansExtrabold/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*ul {*/
/*    line-height: 0;*/
/*    font-size: 0;*/
/*    vertical-align: 0;*/
/*}*/

body {
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
    min-width: 17.95em;
    width: 55%;
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}



/*********************************
            HEADER
*********************************/
.header {
    background: url(../img/bg_header.jpg) top center no-repeat fixed;
    background-size: cover;
    padding-top: 3.2em;
    padding-bottom: 10em;
}

.header h1 {
    text-indent: 9999px;
    overflow: hidden;
}

.logo {
    margin-bottom: 2em;
}

.logo a {
    display: block;
    background: url(../img/Logo.png) top center no-repeat;
    width: 9.375em;
    margin: 0 auto;
	text-align: center;
	font-size: 1em;
	line-height: 3.5em;
}

.menu__link {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.7125em;
    color: #fff;
    font-weight: 400;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    text-transform: uppercase;
}

.menu__mobile .menu__item {
    float: left;
    margin-right: 0.4em;
}

.menu__mobile .menu__item .menu__link {
    display: inline-block;
    padding: 0 0.3em;
    width: auto;
}

.menu__mobile .menu__item .menu__link:hover {
    display: inline-block;
    border-bottom: 2px solid rgb(237, 191, 255);
    /*text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);*/
}



/*********************************
            SLIDER
*********************************/

.slider {
    position: relative;
    background: none;
    margin-top: 8.8625em;
    /* padding: 0 1.5625em; */
    text-align: left;
}

.slider__item {
    margin: 0 auto;
    padding: 0 2.69em;
}

.slider__inner1 {
    color: #fefefe;
    font-size: 2em; 
    font-weight: 400;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__inner2 {
    color: #edbfff;
    font-size: 1.125em; 
    font-weight: 400;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    line-height: 1.75em; 
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.slider__inner3 {
    width: 45%;
    height: 5.6em;
    overflow: hidden;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em; 
    font-family: 'OpenSans Light', Tahoma, Arial, sans-serif;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.wrapper .slider__photo {
    display: none;
}

.slider__buttons {
    position: absolute;
    bottom: -5.6875em;
    width: 100%;
    text-align: center;
}

.slider__buttons li {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 0.0625em;
    -moz-border-radius: 100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari, Chrome */
    -khtml-border-radius: 100%; /* KHTML */
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.slider__buttons .active:before {
    content: "";
    display: block;
    height: 0.625em;
    width: 0.625em;
    margin: 0.1875em;
    background: rgba(253, 253, 253, 1);
    -moz-border-radius: 100%; /* Firefox */
    -webkit-border-radius: 100%; /* Safari, Chrome */
    -khtml-border-radius: 100%; /* KHTML */
    border-radius: 100%;
    cursor: pointer;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    height: 42px;
    width: 30px;
    background: url(../img/slider_arrows.png) 0 0 no-repeat;
}

.slider__arrow__left {
    left: -5%;
    top: 10%;
}

.slider__arrow__right {
    right: -5%;
    top: 10%;
    background-position: -31px 0;
}



/*********************************
            ABOUT SECTION
*********************************/
.about-section {
    padding: 4.5em 0 3.25em;
    background: #765384; /* Old browsers */
    background: -moz-linear-gradient(top,  #765384 0%, #37293e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #765384 0%,#37293e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #765384 0%,#37293e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765384', endColorstr='#37293e',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #0d151b;
}

.about {
    position: relative;
    margin: 0.625em 0.875em 1.375em;
    padding-left: 2.875em;
    color: #fff;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    text-shadow: 0px 1px 0px #0f1518;
    line-height: 1.5em;
}

.about__title{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.about__text {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
    height: 4.5em;
    overflow: hidden;
}

.about__link {
    float: right;
    color: #fff;
    font-size: 1.125em;
    line-height: 2.75em;
    text-decoration: none;
    text-transform: uppercase;
}

.about__link:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.about:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    height: 31px;
    width: 30px;
    background: url(../img/icons.png) 0 0  no-repeat;
}

.about--setting:before {
    width: 29px;
}

.about--chat:before {
    width: 33px;
    background-position: -30px 0;
}

.about--sound:before {
    width: 28px;
    background-position: -64px 0;
}



/*********************************
            DETAILS SECTION
*********************************/

.details-section .wrapper {
    padding: 4.375em 0 5.625em;
}

.details-section, 
.updates,
.sponsors {
    background-color: #f9f9f9;
}

.details-section {
    border-bottom: 1px solid #e6e6e6;
}

.slider__content {
    margin-top: 0;
    padding: 0 1.25em;
}

.slider__content .slider__item {
    position: relative;
    padding: 1em 1.5em 1.875em 2em;
    background: #fff;
    border-bottom: 1px solid #efefef;
}

.slider__content .slider__inner {
    position: absolute;
    top: 18px;
    left: -25px;
}

.slider__title {
    color: #454545;
    font-size: 1.5em;
    font-weight: normal;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
}

.slider__title span {
    color: #edbfff;
    display: block;
}

.slider__content .slider__text {
    margin-top: 0.8125em;
    height: 10.2em;
    color: #454545;
    font-size: 1em;
    line-height: 1.5em;
    font-family: OpenSans, Tahoma, Arial, sans-serif;
    overflow: hidden;
}

.slider__content .slider__buttons {
    position: relative;
    bottom: auto;
    margin-top: 1.4375em;
    margin-left: 0.75em;
}

.slider__content .slider__buttons li {
    background: #fff;
    border: 1px solid #f2f2f2;
}

.slider__content .slider__buttons li:before {
    background: #8f8f8f; /* Old browsers */
    background: -moz-linear-gradient(top,  #8f8f8f 0%, #4d4d4d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8f8f8f 0%,#4d4d4d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8f8f8f 0%,#4d4d4d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}

.updates {
    width: auto;
    margin-top: 2.4em;
}

.updates__title {
    margin-bottom: 0.1em;
    font-size: 1.875em;
    color: #454545;
    line-height: 1.875em;
    font-weight: normal;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
}

.updates__item {
    margin-bottom: 1em;
}

.updates__image {
    margin-right: 1.0625em;
    float: left;
}

.updates__subtitle {
    width: 54%;
    font-family: 'OpenSans Extrabold', Tahoma, Arial, sans-serif;
    color: #454545;
    font-size: 1em;
    line-height: 1.5em;
    white-space: nowrap;
	overflow-x: hidden;
}

.updates__subtitle:hover {
    color: #cccccc;
}

.updates__data {
    width: auto;
    font-family: 'OpenSans Light', Tahoma, Arial, sans-serif;
    color: #454545;
    font-size: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow-x: hidden;
}

.updates__link .blog__link, 
.updates__link .read__link {
    float: right;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    color: #454545;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.5em;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.updates__link .blog__link:hover, 
.updates__link .read__link:hover {
    color: #cccccc;
}



/*********************************
            SPONSORS
*********************************/

.sponsors {
    border-top: 1px solid #fefefe;
    padding-top: 2.25em;
}

.sponsor__item {
    float: left;
    margin-bottom: 3.75em;
    width: 43%;
    text-align: center;
}



/*********************************
            PREFOOTER
*********************************/

.prefooter {
    display: none;
    padding: 6.25em 0 5.625em;
    background: #ececec;
}

.category {
    display: none;
    margin-bottom: 2.9em;
}

.category__title,
.category__title .main--sub--title,
.category__title .comment--title,
.category__title .news--title,
.category__title .categories--title {
    display: inline-block;
    font-family: LeagueGothic, Tahoma, Arial, sans-serif;
    color: #454444;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: uppercase;
    text-align: left;
}


.category__title .main--title {
    margin-top: -0.2em;
    margin-bottom: 0;
    font-size: 3em;
    text-align: left;
}

.copyright--title {
    margin-bottom: 0;
    padding-bottom: 0.9em;
    font-family: Georgia, Tahoma, Arial, sans-serif;
    color: #c5c5c5;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: none;
    font-style: italic;
}

.category__text {
    font-family: 'OpenSans Light', Tahoma, Arial, sans-serif;
    color: #787878;
    font-size: 1em;
    line-height: 1.5em;
    text-shadow: 0px 1px 0px #fff;
}



/*********************************
            FOOTER
*********************************/
.footer {
    background: url(../img/bg_footer.jpg) top center no-repeat;
    background-size: cover;
    padding: 2.625em 0 8.4em;
}

.copyrights {
    /*padding: 2.5em 0 5.3125em;*/
    text-align: center;
    color: #fff;
    font-size: 0.75em;
    line-height: 2.125em;
    font-family: 'OpenSans Light', Tahoma, Arial, sans-serif;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.copyrights__link {
    font-size: 0.75em;
    line-height: 2.125em;
    font-family: 'OpenSans Extrabold', Tahoma, Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.copyrights__link:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}



    /*********************************
                MOBILE W-320
    *********************************/

@media only screen and (max-width: 479px) {
   
    .logo {
        display: block;
    }

    .menu__mobile {
        position: absolute;
        display: block;
    	left: 50%;
    	width: 15.25em;
    	margin-left: -7.625em;
    	border-radius: 0.5em;
	    -moz-border-radius:0.5em; /* Firefox */
        -webkit-border-radius: 0.5em; /* Safari, Chrome */
        -khtml-border-radius: 0.5em; /* KHTML */
    	z-index: 1;
    }
    
	.menu__mobile:hover {
        background: rgba(54, 40, 62, 0.9);
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    	border: 1px solid #0f191f;
    }
    
    .menu__mobile .menu__item {
        margin-right: 0;
        float: none;
        display: block;
        text-align: center;
    }
    
    .menu__mobile .menu__item:not(:first-child) {
        display: none;
        border-top: none;
    }
    
    .menu__mobile .menu__item:first-child .menu__link {
        display: inline;
        padding: 0 0.3em;
        border-bottom: 2px solid rgb(237, 191, 255);
        -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }
    
    .menu__mobile:hover .menu__item {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(54, 40, 62, 0.5);
        border-top: 1px solid rgba(81, 61, 88, 0.5);
    }
    
    .menu__mobile .menu__item:hover .menu__link {
        display: inline;
        padding: 0 0.3em;
        border-bottom: 2px solid rgb(237, 191, 255);
        -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    
    .menu__mobile .menu__item:hover {
        background: rgba(43, 34, 49, 0.9);
        width: 100%;
    }
    
    .menu__mobile .menu_link {
        font-size: 1.5em;
    }
    
    .slider__inner3 {
        display: none;
    }
    
    .updates__link .read__link {
        display: none;
    }

    .prefooter {
        display: none;
    }

    .footer .menu {
        display: none;
    }
    
    .sponsors .wrapper {
        width: 17.95em;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

/*********************************
            HEADER
*********************************/

    .header {
        padding-bottom: 6.15em;
    }

    .wrapper {
        min-width: 27.5em;
    }

    .menu__mobile {
        position: absolute;
        display: block;
    	left: 50%;
    	width: 15.25em;
    	margin-left: -7.625em;
    	border-radius: 0.5em;
	    -moz-border-radius:0.5em; /* Firefox */
        -webkit-border-radius: 0.5em; /* Safari, Chrome */
        -khtml-border-radius: 0.5em; /* KHTML */
    	z-index: 1;
    }
    
	.menu__mobile:hover {
        background: rgba(54, 40, 62, 0.9);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    	border: 1px solid #0f191f;
    }
    
    .menu__mobile .menu__item {
        margin-right: 0;
        float: none;
        display: block;
        text-align: center;
    }
    
    .menu__mobile .menu__item:not(:first-child) {
        display: none;
        border-top: none;
    }
    
    .menu__mobile .menu__item:first-child .menu__link {
        display: inline;
        padding: 0 0.375em;
        border-bottom: 2px solid rgb(237, 191, 255);
        -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }
    
    .menu__mobile:hover .menu__item {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(54, 40, 62, 0.5);
        border-top: 1px solid rgba(81, 61, 88, 0.5);
    }
    
    .menu__mobile .menu__item:hover .menu__link {
        display: inline;
        padding: 0 0.375em;
        border-bottom: 2px solid rgb(237, 191, 255);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
        -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }
    
    .menu__mobile .menu__item:hover {
        background: rgba(43, 34, 49, 0.9);
        width: 100%;
    }
    
    .menu__mobile .menu_link {
        font-size: 1.5em;
    }



    /*********************************
                SLIDER
    *********************************/

    .header .slider {
        position: relative;
        margin-top: 6.1875em;
        padding: 5.7em 0;
        background: rgba(0, 0, 0, 0.2);
   }
    
    .slider__item {
        margin: 0 auto;
        padding: 0 2em;
    }
    
    .slider__inner1 {
        display: block;
        margin-top: 0;
    }
    
    .slider__inner2 {
        display: block;
    }
    
    .slider__inner3 {
        display: none;
    }
    
    .slider__buttons {
        display: block;
        bottom: -8.2em;
    }
    
    .slider__buttons li {
        display: inline-block;
    }
    
    .slider__buttons .active:before {
        display: block;
    }
    
    .slider .slider__photo {
        display: block;
        position: absolute;
        max-width: 40%;
        top: -6.3rem;
        right: 7%;
    }
    
    .slider__arrow {
        display: block;
    }
    
    .slider__arrow__left {
        left: -2%;
        margin-left: 0;
    }
    
    .slider__arrow__right {
        right: -2%;
        background-position: -31px 0;
        margin-right: 0;
    }
    
    
    
    /*********************************
                ABOUT SECTION
    *********************************/
    .about-section {
        padding: 4.4em 0 3.6em;
        background: #765384; /* Old browsers */
        background: -moz-linear-gradient(top,  #765384 0%, #37293e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #765384 0%,#37293e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #765384 0%,#37293e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765384', endColorstr='#37293e',GradientType=0 ); /* IE6-9 */
        border-top: 1px solid #0d151b;
    }
    
    .about {
        position: relative;
        margin: 0 0.875em 0;
        padding-left: 2.875em;
        padding-right: 1.7em;
        color: #fff;
        font-family: LeagueGothic, Tahoma, Arial, sans-serif;
        text-shadow: 0 1px 0 #0f1518;
        line-height: 1.5em;
    }
    
    .about__title{
        font-size: 1.5em;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    .about__text {
        font-size: 1em;
        font-family: 'Open Sans', Tahoma, Arial, sans-serif;
        overflow: hidden;
    }
    
    .about__link {
        float: right;
        color: #fff;
        font-size: 1.125em;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .about__link:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    
    .about:before {
        display: block;
    }
    
    .about--setting:before {
        display: block;
    }
    
    .about--chat:before {
        display: block;
    }
    
    .about--sound:before {
        display: block;
    }
    
    
    
    /*********************************
                DETAILS SECTION
    *********************************/
    
    .details-section .wrapper{
        /*border-bottom: 1px solid #e6e6e6;*/
        padding: 4.375em 0 5.625em;
    }
    
    .details-section, 
    .updates,
    .sponsors {
        background-color: #f9f9f9;
    }
    
    .slider__content {
        margin-top: 0;
        padding: 0 0.75em;
    }
    
    .slider__content .slider__item {
        position: relative;
        padding: 1.875em 1.5em 1.875em 2em;
        background: #fff;
    }
    
    .slider__content .slider__image {
        position: absolute;
        top: 1.125em;
        left: -1.5625em;
    }
    
    .slider__title {
        color: #454545;
        font-size: 2em;
        font-weight: normal;
        font-family: LeagueGothic, Tahoma, Arial, sans-serif;
        text-transform: uppercase;
    }
    
    .slider__title span {
        color: #edbfff;
        display: inline-block;
    }
    
    .slider__content .slider__text {
        margin-top: 0.8125em;
        color: #454545;
        font-family: OpenSans, Tahoma, Arial, sans-serif;
    }
    
    .slider__content .slider__buttons {
        position: relative;
        bottom: auto;
        margin-top: 1.5em;
        margin-left: 0.75em;
    }
    
    .slider__content .slider__buttons li {
        background: #fff;
        border: 1px solid #f2f2f2;
    }
    
    .slider__content .slider__buttons li:before {
        background: #8f8f8f; /* Old browsers */
        background: -moz-linear-gradient(top,  #8f8f8f 0%, #4d4d4d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #8f8f8f 0%,#4d4d4d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #8f8f8f 0%,#4d4d4d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
    }
    
    .updates {
        width: 78%;
        margin-top: 2.25em;
        padding: 0 0 0 2.62em;
    }
    
    .updates__title {
        margin-bottom: 0.3125em;
    }
    
    .updates__item {
        display: block;
    }
    
    .updates__image {
        display: block;
    }
    
    .updates__subtitle {
        width: auto;
    }
    
    .updates__data {
        width: 76%;
    }
    
    .updates__link .read__link {
        display: none;
    }
    
    .updates__link .blog__link {
        display: block;
    }
    
    
    
    /*********************************
                SPONSORS
    *********************************/
    
    .sponsors {
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #d8d8d8;
    }
    
    .sponsor__item {
        float: left;
        margin-bottom: 1.875em;
        width: 28%;
        text-align: center;
    }
    
    
    
    /*********************************
                PREFOOTER
    *********************************/

    .prefooter {
        display: block;
        padding: 4.4em 0 2.55em;
        background: #ececec;
    }
    
    .category {
        display: block;
    }
    
    .category__title .main--title,
    .copyright--title,
    .category__title .comment--title {
        display: none;
    }

    .category__title .main--sub--title, 
    .category__title .news--title,
    .category__title .categories--title {
        display: inline-block;
    }
    
    .category__text {
        display: block;
        height: 6em;
        overflow: hidden;
    }
    
    
    
    /*********************************
                FOOTER
    *********************************/
    .footer {
        display: block;
        padding: 2.625em 0 4.375em;
    }
    
    .menu__footer .menu__item {
        float: left;
        margin-right: 0.4em;
    }
    
    .menu__footer .menu__item .menu__link {
        display: inline-block;
        padding: 0 0.375em;
        font-size: 1.25em;
        width: auto;
    }
    
    .menu__footer .menu__item .menu__link:hover {
        display: inline-block;
        /*border-bottom: 2px solid rgb(237, 191, 255);*/
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    
    .copyrights {
        padding-top: 2.5em;
        text-align: center;
        color: #fff;
        font-size: 0.75em;
        line-height: 2.125em;
        font-family: 'OpenSans Light', Tahoma, Arial, sans-serif;
        /*text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);*/
    }
    
    .copyrights__link {
        font-size: 0.75em;
        line-height: 2.125em;
        font-family: 'OpenSans Extrabold', Tahoma, Arial, sans-serif;
        color: #fff;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        text-decoration: none;
    }
    
    .copyrights__link:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    
    .menu__footer {
        display: block;
    }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

    /*********************************
                HEADER
    *********************************/
    .header {
        padding-bottom: 9.5em;
        padding-top: 3.2em;
    }

    .wrapper {
        min-width: 45em;
        padding-top: 0;
    }
    
    .logo {
        display: inline-block;
        text-align: left;
        width: 9.375em;
        margin: 0 auto;
    }

    .header .menu {
        margin-top: 2em;
    }
    
    .menu__mobile .menu__item {
        float: left;
        margin-right: 2.8em;
        margin-left: -0.5em;
    }
    
    .menu__mobile .menu__item .menu__link {
        display: inline-block;
        padding: 0 0.25em;
        width: auto;
        font-size: 1.5em;
        line-height: 1.5em;
        border-bottom: 2px solid transparent;
    }
    
    .menu__mobile .menu__item .menu__link:hover {
        display: inline-block;
        border-bottom: 2px solid rgb(237, 191, 255);
    }
    
    
    
    /*********************************
                SLIDER
    *********************************/
    
    .header .slider {
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        margin-top: 4.3em;
        padding: 7em 0 6.5em 0;
    }
    
    .slider__item {
        margin: 0 auto;
        padding: 0 3.5em;
    }
    
    .slider__inner1 {
        margin: 0;
        font-size: 3em;
    }

    .slider__inner2 {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .slider__inner3 {
        font-size: 1.125em;
        line-height: 1.5em;
    }
    
    .slider .slider__photo {
        display: block;
        position: absolute;
        max-width: 44%;
        top: -8.3em;
        right: 5%;
    }
    
    .slider__buttons {
        bottom: -10em;
    }
    
    .slider__arrow__left {
        left: 0;
        top: 50%;
    }
    
    .slider__arrow__right {
        right: 0;
        top: 50%;
        background-position: -31px 0;
    }
        
    
    
    /*********************************
            ABOUT SECTION
    *********************************/
    .about-section {
        padding: 4.6em 0 17.125em;
        background: #765384;/* Old browsers */
        background: -moz-linear-gradient(top,  #765384 0%, #37293e 100%);/* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #765384 0%,#37293e 100%);/* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #765384 0%,#37293e 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765384', endColorstr='#37293e',GradientType=0 );/* IE6-9 */
        border-top: 1px solid #0d151b;
    }
    
    .about {
        width: 22%;
        float: left;
        position: relative;
        margin: 0 0.875em 0.375em;
        padding-left: 2.875em;
        color: #fff;
        font-family: LeagueGothic, Tahoma, Arial, sans-serif;
        text-shadow: 0 1px 0 #0f1518;
        line-height: 1.5em;
    }
    
    .about__title{
        font-size: 1.5em;
        font-weight: normal;
        text-transform: uppercase;
        /* overflow:  hidden; */
    }
    
    .about__text {
        font-size: 1em;
        font-family: 'Open Sans', Tahoma, Arial, sans-serif;
        height: 9em;
        overflow: hidden;
    }
    
    .about__link {
        float: right;
        color: #fff;
        font-size: 1.125em;
        line-height: 1.75em;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .about__link:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    
    .about:before {
        display: block;
    }
    
    .about--setting:before {
        display: block;
    }
    
    .about--chat:before {
        display: block;
    }
    
    .about--sound:before {
        display: block;
    }



    /*********************************
                DETAILS SECTION
    *********************************/
    
    .details-section {
        background-color: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
    }
    
    .details-section .wrapper {
        padding: 6.1875em 0 4.625em;
    }
    
    .slider__content {
        margin-top: 0;
        padding: 0 3.3em 0 1.6em;
        width: 44%;
        float: left;
    }
    
    .slider__content .slider__text {
        height: 9.2em;
    }
    
    .updates {
        width: 45%;
        margin: 0;
        padding-top: 1.0625em;
        float: left;
    }
    
    .updates__image {
        margin-right: 1em;
        float: left;
    }
    
    .updates__subtitle {
        width: auto;
    }
    
    .updates__data {
        width: auto;
    }
    
    .updates__link .read__link {
        display: none;
    }
    
    
    
    /*********************************
            SPONSORS
    *********************************/
    
    .sponsors {
        border-top: 1px solid #fefefe;
    }
    
    .sponsors__list {
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        text-align-last: justify;
    }
    
    .sponsors__list:after {
        content: '';
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: inline-block;
    }
    
    .sponsor__item {
        float: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 1.875em;
        width: 16%;
    }
    
    
    
    /*********************************
                PREFOOTER
    *********************************/

    .prefooter {
        display: block;
        padding: 5.8em 0 5.625em;
    }
    
    .prefooter .wrapper {
        padding-top: 0;
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        text-align-last: justify;
    }
    
    prefooter .wrapper:after {
        content: '';
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: inline-block;
    }
    
    .category {
        display: inline-block;
        padding: 0px 0.88em 0 0;
        text-align: left;
        width: 30%;
        margin-bottom: 0;
    }
    
    .category__title .main--title,
    .category__title .comment--title,
    .copyright--title {
        display: none;
    }
    
    .category__title .main--sub--title,
    .category__title .main--news--title,
    .category__title .categories--title {
        display: inline-block;
        text-align: left;
    }

    .category__text {
        height: 10.5em;
        overflow: hidden;
    }
    
    
    
    /*********************************
            FOOTER
    *********************************/
    .footer {
        padding: 2.625em 0 4.375em;
    }
    
    .menu__footer {
        display: block;
        padding-top: 0;
    }
    
    .footer .wrapper {
        padding-top: 0;
    }
    
    .menu__footer .menu {
        margin-top: 0;
    }
    
    .menu__footer .menu__item {
        float: left;
        margin-right: 2.8125em;
    }
    
    .menu__footer .menu__item .menu__link {
        display: inline-block;
        padding: 0;
        width: auto;
        font-size: 1.25em;
    }
    
    .menu__footer .menu__item .menu__link:hover {
        display: inline-block;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    
    .copyrights {
        float: right;
        padding: 2.5em 0 0;
    }
}



@media only screen and (min-width: 960px) {

    /*********************************
                HEADER
    *********************************/
    .header {
        padding-bottom: 10.5em;
    }

    .wrapper {
        min-width: 59em;
        padding-top: 0;
    }
    
    .logo {
        display: block;
        margin-right: 7.5em;
        float: left;
        width: 9.375em;
    }

    .menu__mobile .menu__item {
        float: left;
        margin-right: 2em;
        padding-top: 0.6em;
    }

    .menu__mobile .menu__item .menu__link {
        display: inline-block;
        font-size: 1.5em;
        line-height: 1.5em;
        border-bottom: 2px solid transparent;
    }



    /*********************************
                SLIDER
    *********************************/
    
    .header .slider {
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        margin-top: 8.8em;
        padding: 5em 0 4.5em 0;
    }
    
    .slider__item {
        margin: 0 auto;
        padding: 0 3em;
    }
    
    .slider__inner1 {
        margin: 0;
        font-size: 3.75em;
    }
    
    .slider__inner1 {
        margin: 0;
        font-size: 3.75em;
    }
    
    .slider__inner2 {
        margin: 0;
        font-size: 2.25em;
        line-height: 1em;
    }
    
    .slider__inner3 {
        display: block;
        width: 54%;
        height: 9.6em;
    }
    
    .slider .slider__photo {
        display: block;
        position: absolute;
        max-width: 44%;
		top: -6.1rem;
		right: 6%;
    }
    
    .slider__buttons {
        bottom: -11.5em;
    }
    
     .slider__arrow__left {
        left: 0;
        top: 50%;
    }
    
    .slider__arrow__right {
        right: 0;
        top: 50%;
    }
    
    
    
    /*********************************
            ABOUT SECTION
    *********************************/
    .about-section {
        padding: 4.8em 0 16.125em;
        background: #765384;/* Old browsers */
        background: -moz-linear-gradient(top,  #765384 0%, #37293e 100%);/* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #765384 0%,#37293e 100%);/* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #765384 0%,#37293e 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765384', endColorstr='#37293e',GradientType=0 );/* IE6-9 */
        border-top: 1px solid #0d151b;
    }
    
    .about {
        width: 25%;
        float: left;
        position: relative;
        margin: 0 0.875em 0.375em;
        padding-left: 2.875em;
        color: #fff;
        font-family: LeagueGothic, Tahoma, Arial, sans-serif;
        text-shadow: 0 1px 0 #0f1518;
        line-height: 1.5em;
    }
    
    .about__title{
        font-size: 1.5em;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    .about__text {
        font-size: 1em;
        line-height: 1.45em;
        font-family: 'Open Sans', Tahoma, Arial, sans-serif;
        height: 7.3em;
        overflow: hidden;
    }
    
    .about__link {
        float: right;
        color: #fff;
        font-size: 1.125em;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .about__link:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    
    .about:before {
        display: block;
    }
    
    .about--setting:before {
        display: block;
    }
    
    .about--chat:before {
        display: block;
    }
    
    .about--sound:before {
        display: block;
    }
    
    
    
    /*********************************
                DETAILS SECTION
    *********************************/
    
    .details-section {
        background-color: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
    }
    
    .details-section .wrapper {
        padding: 6.1875em 0 4.5em;
    }
    
    .slider__content {
        margin-top: 0;
        padding: 0 3.6875em 0 1.65em;
        width: 45%;
        float: left;
    }
    
    .slider__content .slider__item {
        padding: 2.5em 2.6875em 2.25em 2em;
    }
    
    .slider__title {
        font-size: 1.8755em;
    }
    
    .slider__title span {
        display: inline-block;
    }
    
    .slider__content .slider__text {
        height: 10.2em;
        margin-top: 0.6em;
    }
    
    .slider__content .slider__item::before, 
    .slider__content .slider__item::after {
        content: '';
        position: absolute;
        left: 22.1875em; 
        bottom: -2.5em;
        border: 1.25em solid transparent;
        border-top: 1.25em solid #efefef;
        border-left: 1.25em solid transparent;
        border-right: 1px solid transparent;
   }
   
   .slider__content .slider__item::after {
        border-top: 1.25em solid #fff;
        border-left: 1.25em solid transparent;
        bottom: -2.4375em; 
   }
    
    .updates {
        width: 45%;
        margin: 0;
        padding-top: 1.8em;
        float: left;
    }
    
    .updates__image {
        margin-right: 1.0625em;
        float: left;
    }
    
    .updates__subtitle {
        width: auto;
    }
    
    .updates__data {
        width: auto;
        letter-spacing: -0.4px;
    }
    
    .updates__link .read__link {
        display: block;
    }
    
    .updates__link .blog__link {
        display: none;
    }
    
    
    
    /*********************************
            SPONSORS
    *********************************/
    
    .sponsors {
        border-top: 1px solid #fefefe;
        padding-top: 1.5em;
    }
    
    .sponsor__item {
        float: left;
        margin-bottom: 1.9375em;
        width: 16%;
        text-align: center;
    }
    
    .sponsors__list {
        padding: 0 2em;
    }
    
    /*********************************
                PREFOOTER
    *********************************/

    .prefooter {
        display: block;
        padding: 5.9em 0 5.625em;
    }
    
    .prefooter .wrapper {
        padding-top: 0;
        text-align: justify;
        line-height: 0;
        text-justify: newspaper;
        text-align-last: justify;
    }
    
    prefooter .wrapper:after {
        content: '';
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: inline-block;
    }
    
    .category {
        display: inline-block;
        margin: 0 3.625em 0 0;
        float: none;
        text-align: left;
        width: 26.2%;
    }
    
    .category__title .main--sub--title,
    .category__title .news--title {
        display: none;
    }
    
    .category__title,
    .category__title .copyright--title ,
    .category__title .comment--title,
    .category__title .categories--title {
        display: inline-block;
        margin-bottom: 0;
        line-height: 1.35em;
    }
    
    .main--title {
        display: inline-block;
    }
    
    .main--title span {
        display: inline-block;
        color: #b9b9b9;
    }
    
    .category__text {
        height: 10.5em;
        overflow: hidden;
    }
    
    .copyright--title+.category__text {
        height: 6.3em;
        overflow: hidden;
    }

    
    
    /*********************************
            FOOTER
    *********************************/
    .footer {
        padding: 2.5em 0 4.5em;
    }

    .footer .menu{
        float: left;
        width: 85%;
    }
    
    .menu__footer .menu {
        margin-top: 0;
    }
    
    .menu__footer .menu__item {
        float: left;
        margin-right: 2.8125em;
    }
    
    .menu__footer .menu__item .menu__link {
        display: inline-block;
        padding: 0;
        width: auto;
    }
    
    .menu__footer .menu__item .menu__link:hover {
        display: inline-block;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    
    .copyrights {
        float: right;
        padding: 0;
    }
}