/*********************************
GENERAL
*********************************/
body {
    background-color: #F5F5F5;
    border-bottom: 2px solid black;
    font: 400 14px/20px Arial, serif, sans-serif;
}



/**********************************
NAME (div)
**********************************/

.name {
    background: white;
    width: 408px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 50px;
    -webkit-box-shadow: inset 0 0 5px 2px rgba(211,211,211,1);
    -moz-box-shadow: inset 0 0 5px 2px rgba(211,211,211,1);
    box-shadow: inset 0 0 5px 2px rgba(211,211,211,1);
    
}

h1 {
    text-align: center;
    font: 700 25px/30px Tahoma, Verdana, serif, sans-serif;
}

.name p {
    border-bottom: 1px solid black;
    text-indent: 10px;
    padding-bottom: 10px;
}

.image {
    width: 100px;
    margin: 0 auto;
}

img {
    width: 100%;
    margin-bottom: -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}



/**********************************
INTEREST
**********************************/

.interest ul {
    text-indent: -30px;
    border-bottom: 1px solid black;
}

li {
    padding: 10px;
    padding-left: 30px;
}



/**********************************
CONTACT
**********************************/

.contact ul {
    list-style: none;
    padding-left: 10px;
    border-bottom: 1px solid black;
}



/**********************************
ADD INFO
**********************************/

.add-info p {
    border-bottom: 0;
}
