/*********************************
BODY
*********************************/

html, 
body {
    background-color: #EAEAEA;
    width: 100%;
    height: 100%;
}

ul {
    line-height: 0;
    font-size: 0;
    vertical-align: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("Cadastre/fonts/helveticaneue-thin-webfont.eot");
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*********************************
HEADER
*********************************/
.header {
    background: #08599d;
    height: 36px;
}

.menu {
    position: relative;
    float: right;
}

.menu:after {
    content: "";
    position: absolute;
    width: 1px;
    background: #56a2dc;
    top: 2px;
    right: -5px;
    bottom: 3px;
}

.menu li {
    display: block;
    float: left;
    padding: 0 10px;
}

.menu li a {
    color: #60b5ed;
    padding: 0 5px;
    font-family: "Helvetica Neue", Arial, Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
}

.menu a:hover {
    display: block;
    background: #4DAAD8;
    font-family: "Helvetica Neue", Arial, Tahoma;
    color: #fff;
}

.add-menu {
    position: relative;
    float: right;
    margin: 0 20px;
}

.add-menu a {
    font-family: "Helvetica Neue", Arial, Tahoma;
    line-height: 35px;
}

.flag {
    position: relative;
    float:left;
    top: 5px;
    left: 2px;
}

.offers {
    float: left;
    position: relative;
    padding: 0 10px;
}

.offers a {
    font-size: 14px;
    color:  #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.login {
    background: rgba(68,157,210,1);
    background: -moz-linear-gradient(top, rgba(68,157,210,1) 0%, rgba(58,141,203,1) 34%, rgba(51,128,197,1) 52%, rgba(46,121,194,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,157,210,1)), color-stop(34%, rgba(58,141,203,1)), color-stop(52%, rgba(51,128,197,1)), color-stop(100%, rgba(46,121,194,1)));
    background: -webkit-linear-gradient(top, rgba(68,157,210,1) 0%, rgba(58,141,203,1) 34%, rgba(51,128,197,1) 52%, rgba(46,121,194,1) 100%);
    background: -o-linear-gradient(top, rgba(68,157,210,1) 0%, rgba(58,141,203,1) 34%, rgba(51,128,197,1) 52%, rgba(46,121,194,1) 100%);
    background: -ms-linear-gradient(top, rgba(68,157,210,1) 0%, rgba(58,141,203,1) 34%, rgba(51,128,197,1) 52%, rgba(46,121,194,1) 100%);
    background: linear-gradient(to bottom, rgba(68,157,210,1) 0%, rgba(58,141,203,1) 34%, rgba(51,128,197,1) 52%, rgba(46,121,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449dd2', endColorstr='#2e79c2', GradientType=0 );
    border: 1px solid #449ad3;
    border-top: none;
    float: left;
    position: relative;
    padding: 0 8px;
}

.offers:hover {
    color: #D0D0D0;
}

.login a:hover {
    text-decoration: none;
}

.login span,
.login a {
    color: #ffffff;
    text-shadow: 1px 0 0 #6FADD9;
    font-size: 14px;
    font-weight: 400;
}

.text1:hover {
    color: #D8D8D8;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}



/*********************************
CONTENT
*********************************/

.content {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url(../img/bg.png) no-repeat center center fixed;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-header {
    background: RGBA(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
}

.form-contacts {
    padding: 35px 140px;
    background: RGBA(0, 0, 0, 0.5);
}

.form-contacts p {
    width: 309px;
    color: #cccccc;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.fb-button {
    background: #3e5593;
    background: -moz-linear-gradient(top, #3e5593 0%, #364c88 51%, #364c88 56%, #2e4479 60%, #364c88 94%, #2e4479 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e5593), color-stop(51%, #364c88), color-stop(56%, #364c88), color-stop(60%, #2e4479), color-stop(94%, #364c88), color-stop(100%, #2e4479));
    background: -webkit-linear-gradient(top, #3e5593 0%, #364c88 51%, #364c88 56%, #2e4479 60%, #364c88 94%, #2e4479 100%);
    background: -o-linear-gradient(top, #3e5593 0%, #364c88 51%, #364c88 56%, #2e4479 60%, #364c88 94%, #2e4479 100%);
    background: -ms-linear-gradient(top, #3e5593 0%, #364c88 51%, #364c88 56%, #2e4479 60%, #364c88 94%, #2e4479 100%);
    background: linear-gradient(to bottom, #3e5593 0%, #364c88 51%, #364c88 56%, #2e4479 60%, #364c88 94%, #2e4479 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5593', endColorstr='#2e4479', GradientType=0 );
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    width: 276px;
}

.fb-button a {
    position: relative;
    font-size: 15px;
    line-height: 35px;
    font-family: "Helvetica Neue", Arial, Tahoma;
    display: block;
    color:  #ffffff;
    text-decoration: none;
    padding-left: 25px;
}

.icon {
    background: url(../img/fb_logo.png) no-repeat;
     -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 35px;
}

.socnet {
    position: relative;
    width: 238px;
    line-height: 35px;
    padding: 0 41px;
    font-weight: bolder;
}

.socnet:after {
    content: url(../img/triangle.png);
    position: absolute;
    top: -7px;
    right: 6px;
}

.fb-button a:hover {
    color: #cccccc;
    cursor: pointer; 
    cursor: hand;
}

h2 {
    position: relative;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 20px 0;
}

h2:before {
    position: absolute;
    content: "";
    width: 123px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    left: 1px;
    bottom: 27px;
}

h2:after {
    position: absolute;
    content: "";
    width: 123px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    right: 1px;
    bottom: 27px;
}

.input input {
    display: block;
    background: #0f0f0f;
    background: -moz-linear-gradient(top, #0f0f0f 0%, #101010 50%, #26271b 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0f0f0f), color-stop(50%, #101010), color-stop(100%, #26271b));
    background: -webkit-linear-gradient(top, #0f0f0f 0%, #101010 50%, #26271b 100%);
    background: -o-linear-gradient(top, #0f0f0f 0%, #101010 50%, #26271b 100%);
    background: -ms-linear-gradient(top, #0f0f0f 0%, #101010 50%, #26271b 100%);
    background: linear-gradient(to bottom, #0f0f0f 0%, #101010 50%, #26271b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#26271b', GradientType=0 );
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue", Arial, Tahoma;
    color: #cccccc;
    line-height: 33px;
    border: none;
    border-bottom: #474746;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(75,75,75,1);
    -moz-box-shadow: 1px 1px 7px 0px rgba(75,75,75,1);
    box-shadow: 1px 1px 7px 0px rgba(75,75,75,1);
    margin: 0 0 15px 0;
    padding: 0 91px 0 15px;
}

.input input:focus {
    background: #1b5287 no-repeat;  
    color: #fffbfb;
}

.input input:focus::-moz-placeholder {
    background: #1b5287 no-repeat;
    color: #fffbfb;
}

.input input:focus::-webkit-input-placeholder {
    background: #1b5287 no-repeat;
    color: #fffbfb;
} 

.checkbox {
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.create-bn input {
    position: relative;
    background: rgba(79,173,217,1);
    background: -moz-linear-gradient(top, rgba(79,173,217,1) 0%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 99%, rgba(46,121,194,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,173,217,1)), color-stop(51%, rgba(46,121,194,1)), color-stop(51%, rgba(46,121,194,1)), color-stop(99%, rgba(46,121,194,1)), color-stop(100%, rgba(46,121,194,1)));
    background: -webkit-linear-gradient(top, rgba(79,173,217,1) 0%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 99%, rgba(46,121,194,1) 100%);
    background: -o-linear-gradient(top, rgba(79,173,217,1) 0%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 99%, rgba(46,121,194,1) 100%);
    background: -ms-linear-gradient(top, rgba(79,173,217,1) 0%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 99%, rgba(46,121,194,1) 100%);
    background: linear-gradient(to bottom, rgba(79,173,217,1) 0%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 51%, rgba(46,121,194,1) 99%, rgba(46,121,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fadd9', endColorstr='#2e79c2', GradientType=0 );
    display: block;
    width: 149px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: none;
    color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(107,184,231,1);
    -moz-box-shadow: 0px 1px 3px 1px rgba(107,184,231,1);
    box-shadow: 0px 1px 3px 1px rgba(107,184,231,1);
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    margin: 20px auto;
}

.create-bn input:hover {
    color: #DCDCDC;
    cursor: pointer; 
    cursor: hand;
}

p {
    position: absolute;
    bottom: 12px;
    right: 130px;
}
