/*********************************
GENERAL
*********************************/

body {
    background-color: #F5F5F5;
}

.wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 50px 48px 60px 46px;
    width: 1060px;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.3);
    
}
/*********************************
HEADER
*********************************/

.fitnesslogo {
    width: 146px;
    height: 40px;
}

.menu {
    background: -webkit-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
    background: -moz-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
    background: -o-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
    background: -ms-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
    background: linear-gradient(0deg, #444343 0%, #5e5e5e 100%);
    margin: 40px 0;
    width: auto;
    height: 40px;
    font: 400 15px OpenSans, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.menu li a {
    float: left;
    padding: 0 40px;
    text-decoration: none;
    color: #ffffff;
    line-height: 40px;
}

.menu a:hover {
    display: block;
    background: -webkit-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
    background: -moz-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
    background: -o-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
    background: -ms-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
    background: linear-gradient(0deg, #2e2e2e 0%, #4a4a4a 100%);
    width: auto;
    height: 40px;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.menu ul li {
    line-height: 0;
    font-size: 0;
    vertical-align: 0;
}



/*********************************
CONTENT
*********************************/

.left-menu {
    border: 1px solid #c8c8c8;
    width: 240px;
    height: 240px;
    float: left;
    
}

.left-menu li {
    font: 400 13px OpenSans, sans-serif;
    color: #656363;
    line-height: 40px;
    border-bottom: 1px solid #c8c8c8;
}

#auto {
    border-bottom: none;
}

.left-menu a {
    text-decoration: none;
    color: #656363;
    padding-left: 20px;
}

.left-menu li:hover {
    background: #f9f9f9;
    color: #2c2b2b;
    padding-left: 10px;
}

.container {
    float: right;
}

.image {
    background: #ffffff;
    padding: 89px 46px;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.container p {
    width: 625px;
    font: 400 13px OpenSans, sans-serif;
    color: #2c2b2b;
    padding: 39px 77px 60px 24px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/*********************************
FOOTER
*********************************/

.footer {
    background-color: #e1e1e1;
    height: 40px;
    width: auto;
    font: 400 13px OpenSans, sans-serif;
}

.footer li {
    display: block;
    width: auto;
    line-height: 40px;
    padding-left: 50px;
    float: left;
}

.footer p {
    padding-right: 20px;
    line-height: 40px;
    float: right;
}

.footer a {
    text-decoration: none;
    color: #2c2c2c;
}


.footer a:hover {
    text-decoration: underline;
}

.products2 a {
    text-decoration: underline;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}