<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gennadii Remizov | FE developper Project-exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="css/bundle2.min.css">
    <link rel="icon" type="image/png" href="../exam/img/favicon-ico.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="../exam/img/favicon-ico.png" sizes="32x32" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <header class="header">

        <div class="container">
            <h1 class="logo"><a href="#" title="home" alt="Logo">AOD</a></h1>
            
            <nav class="menu">
                
                <input type="checkbox" id="hidden__menu" class="hidden__menu">
                <label class="btn-menu" for="hidden__menu">
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                </label>

                <ul class="menu menu__mobile clearfix">

                    <li class="menu__item">
                        <a class="menu__link" href="#chain-section">About</a>
                    </li>
                    <li class="menu__item dot">
                        <a class="menu__link" href="#">.</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#treadle-section">Cycling</a>
                    </li>
                    <li class="menu__item empty">
                        <a class="menu__link" href="#"></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#discover">Shop</a>
                    </li>
                    <li class="menu__item dot">
                        <a class="menu__link" href="#">.</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#footer">Contacts</a>
                    </li>

                </ul>
            </nav> <!-- menu -->
        </div> <!-- container -->
    </header>
    
    <section id="chain-section" class="chain-section">
        <div class="container">
            <div class="effect">
                <div class="chain__icon"></div>
                <article class="about">
                    <h2 class="about__title">About the bike</h2>
                    <p class="about__text">The purpose of our bicycles is to make cycling more simple.</p>
                    <p class="about__text">Researching, purchasing, and even riding can be a hassle, between the routine maintenance, flat tires, 
                    broken chains, and uncomfortable seats. But it doesn’t have to be. We reassessed every element of the bicycle from the ground 
                    up in order to make riding more simple and more enjoyable.</p>
                </article>
            </div> <!-- effect -->
        </div> <!-- container -->
    </section>
    
    <section class="frame-section">
        <div class="photo__1">
            <div class="effect effect__left">
                <div class="tradelogos"></div>
            </div>
        </div>
        <div class="container">
            <div class="effect">
                <div class="frame__icon"></div>
                <article class="about about__frame">
                    <h2 class="about__title about__title_frame">Energy efficiency</h2>
                    <p class="about__text about__text_frame">A human being traveling on a bicycle at 16–24 km/h (10–15 mph), using only the power required to walk, 
                    is the most energy-efficient means of human transport generally available.
                    Air drag, which increases with the square of speed, requires increasingly higher power outputs relative to speed,
                    power increasing with the cube of speed as power equals force times velocity. 
                    A bicycle in which the rider lies in a supine position is referred to as a recumbent bicycle or, if covered 
                    in an aerodynamic fairing to achieve very low air drag, as a streamliner.</p>
                </article>
            </div> <!-- effect -->
        </div> <!-- container -->
        <div class="photo__2"></div>
    </section>
    
    <section id="treadle-section" class="treadle-section">
        <div class="container">
            <div class="effect">
                <div class="treadle__icon"></div>
                <article class="about about__treadle">
                    <h2 class="about__title about__title_treadle">To make cycling simpler</h2>
                    <p class="about__text about__text_treadle">We believe that your bike should be ready to ride when you are. 
                    We’re dedicated to taking the stress out of buying, owning, and maintaining a bicycle.</p>
                </article>
            </div> <!-- effect -->
        </div> <!-- container -->
            <div class="photo__3"></div>
            <div class="photo__4">
                <div class="effect effect__right">
                    <div class="tradelogos__treadle"></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="fork-section">
        <div class="photo__5">
            <div class="effect effect__left">
                <div class="tradelogos__fork"></div>
            </div>
         </div>
        <div class="container">
            <div class="effect">
                <div class="fork__icon"></div>
                <article class="about about__fork">
                    <h2 class="about__title about__title_fork">To change cycling for the recreational rider</h2>
                    <p class="about__text about__text_fork">Everyone deserves a high quality and low maintenance bike at an affordable price. 
                    Through innovative design and unparalleled engineering, paired with delivering directly to our riders, 
                    we are making that vision a reality.</p>
                </article>
            </div> <!-- effect -->
        </div> <!-- container -->
        <div class="photo__6"></div>
        <div class="photo__7"></div>
    </section>
    
    <section class="slider" id="main__slider">
    </section> <!-- slider -->
    
    <section class="vintage-bicycle-gallery">
    </section>
    
    <section id="discover" class="discover">
        <div class="container">
            <div class="discover__item">
                <a class="discover__link" href="#">Discover the shop</a>
            </div>
        </div>
    </section> <!-- discover -->

    <section class="vintage-bicycle-gallery"></section>
    
    <section class="search">
        <div class="container container__search clearfix">
            <h2 class="logo"><a href="#" title="home" alt="Logo">AOD</a></h2>
            <h3 class="logo__header">Stay on the saddle!</h3>
            <input type="text" name="search" class="search__form_input" placeholder="find your item">
            <button type="button" onclick="getDataByQuery()" class="search__form_btn" value="search">Search items</button>
        </div> <!-- container -->
    </section> <!-- search -->

    <footer id="footer" class="footer">
        <div class="container container__footer clearfix">
            <div class="contacts">
                <h3 class="contacts__name">AOD New York</h3>
                <h4 class="contacts__address">2250 Lexington Avenue</h4> 
                <h4 class="contacts__address">New York, NY 10035 - <a href="">info@aod.com</a></h4>
            </div>
            <div class="socmedia">
                <ul class="socmedia__list">
                    <li class="socmedia__item">
                        <a href="#" class="socmedia__link socmedia__link_twitter"></a>
                    </li>
                    <li class="socmedia__item">
                        <a href="#" class="socmedia__link socmedia__link_facebook"></a>
                    </li>
                    <li class="socmedia__item">
                        <a href="#" class="socmedia__link socmedia__link_pintrest"></a>
                    </li>
                </ul>
            </div>
            <div class="copyrights">
                <span class="copyrights__logo">Handcrafted by</span>
                <a href="#" class="copyrights__link" alt="">
                    <img src="img/logo_des.png" alt="Yebo logo">
                </a>
            </div>
        </div>
    </footer> <!-- footer -->

    <!--start template masonry images-->
    <script type="text/template" id="vintage-bicycle-gallery-template">
        <div class="grid">
            <% images.forEach(function(image) { %>
            <div class="grid-item <%-image.className%>" style="<%-image.imageBackground%>"></div>
            <% }); %>
        </div>
    </script>
    <!--end template -->

    <!--start template slider images-->
    <script type="text/template" id="slider-images-template">
        <div class="container">
            <div class="slider__list_wrap">
                <ul class="slider__list">
                    <% slides.forEach(function(slide) { %>
                    <li class="slider__item clearfix">
                        <img class="slider__img" id="slider__img_<%-slide.imageNumber%>" data-image="<%-slide.imageUrl%>" alt="">
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="slider__controls"> <!-- "Left" and "Right" actions -->
                <button type="button" class="slider__controls_btn slider__controls_btn_left">left</button>
                <button type="button" class="slider__controls_btn slider__controls_btn_right">right</button>
            </div>
        </div>
        <ul class="slider__buttons">
            <% slides.forEach(function(slide) { %>
            <li>
                <a href="#slider__img_<%-slide.imageNumber%>"><%-slide.imageNumber%></a>
            </li>
            <% }); %>
        </ul>
    </script>
    <!--end template -->
    
    <script src="js/animate.js"></script>
    <script src="js/pixabay-api.js"></script>
    <script src="js/template-helper.js"></script>
    <script src="js/images.js"></script>
    <script src="js/main.js"></script>
    <script src="js/respond.min.js"></script>
</body>
</html>